In [1]:
import pandas as pd
import numpy as np

lista_valores = {'clave1':['x','x','y','y','z'], 'clave2':['a','b','a','b','a'],
                'datos1':np.random.rand(5), 'datos2':np.random.rand(5)}
lista_valores

{'clave1': ['x', 'x', 'y', 'y', 'z'],
 'clave2': ['a', 'b', 'a', 'b', 'a'],
 'datos1': array([0.41036448, 0.9497189 , 0.79259501, 0.0727861 , 0.38285494]),
 'datos2': array([0.3482859 , 0.21079748, 0.93178873, 0.69417802, 0.4143558 ])}

In [3]:
dataframe = pd.DataFrame(lista_valores)
dataframe

  clave1 clave2    datos1    datos2
0      x      a  0.410364  0.348286
1      x      b  0.949719  0.210797
2      y      a  0.792595  0.931789
3      y      b  0.072786  0.694178
4      z      a  0.382855  0.414356

In [4]:
grupo1 = dataframe['datos1'].groupby(dataframe['clave1'])
grupo1

In [5]:
grupo1.mean()

clave1
x    0.680042
y    0.432691
z    0.382855
Name: datos1, dtype: float64