In [2]:
import pandas as pd
import numpy as np

lista_valores = [[1,2,3],[4,5,6],[7,8,9],[np.nan,np.nan,np.nan]]
lista_columnas = list('abc')

dataframe = pd.DataFrame(lista_valores,columns=lista_columnas)
dataframe

     a    b    c
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [4]:
dataframe.agg(['sum','min'])

        a     b     c
sum  12.0  15.0  18.0
min   1.0   2.0   3.0

In [5]:
dataframe.agg(['sum','min'],axis=1)

    sum  min
0   6.0  1.0
1  15.0  4.0
2  24.0  7.0
3   0.0  NaN