In [2]:
import numpy as np
import pandas as pd

serie1 = pd.Series([1,2,np.nan])
serie1

0    1.0
1    2.0
2    NaN
dtype: float64

In [4]:
serie2 = pd.Series([4,5,6])
serie2

0    4
1    5
2    6
dtype: int64

In [6]:
serie3 = serie1.combine_first(serie2)
serie3

0    1.0
1    2.0
2    6.0
dtype: float64

In [8]:
lista_valores1 = [1,2,np.nan]
dataframe1 = pd.DataFrame(lista_valores1)
dataframe1

     0
0  1.0
1  2.0
2  NaN

In [9]:
lista_valores2 = [4,5,6]
dataframe2 = pd.DataFrame(lista_valores2)
dataframe2

   0
0  4
1  5
2  6

In [11]:
dataframe3 = dataframe1.combine_first(dataframe2)
dataframe3

     0
0  1.0
1  2.0
2  6.0