In [1]:
import pandas as pd
import numpy as np

lista_valores = np.arange(9).reshape(3,3)
lista_indices = list('abc')

dataframe = pd.DataFrame(lista_valores,index=lista_indices)
dataframe

   0  1  2
a  0  1  2
b  3  4  5
c  6  7  8

In [2]:
nuevos_indices = dataframe.index.map(str.upper)
dataframe.index = nuevos_indices
dataframe

   0  1  2
A  0  1  2
B  3  4  5
C  6  7  8

In [3]:
dataframe = dataframe.rename(index=str.lower)
dataframe

   0  1  2
a  0  1  2
b  3  4  5
c  6  7  8

In [4]:
nuevos_indices = {'a':'f','b':'g','c':'h'}
dataframe.rename(index=nuevos_indices)

   0  1  2
f  0  1  2
g  3  4  5
h  6  7  8

In [5]:
dataframe

   0  1  2
a  0  1  2
b  3  4  5
c  6  7  8

In [8]:
nuevos_indices = {'a':'j'}
dataframe.rename(index=nuevos_indices,inplace=True)
dataframe

   0  1  2
j  0  1  2
b  3  4  5
c  6  7  8