In [1]:
colores = ["rojo","verde","azul"]

In [2]:
for color in colores:
    print(color)

rojo
verde
azul

In [4]:
cadena = "hola mundo"
for caracter in cadena:
    print (caracter)

h
o
l
a

m
u
n
d
o

In [5]:
range(8)

range(0, 8)

In [6]:
for numero in range(8):
    print(numero)

0
1
2
3
4
5
6
7

In [7]:
for numero in range(3,8):
    print(numero)

3
4
5
6
7

In [8]:
for numero in range(3,8,2):
    print(numero)

3
5
7

In [10]:
#break
for numero in range(10):
    if(numero == 5):
        break
    print(numero)

0
1
2
3
4

In [11]:
#continue
for numero in range(10):
    if(numero == 6):
        continue
    print(numero)

0
1
2
3
4
5
7
8
9

In [12]:
for numero1 in range(4):
    for numero2 in range(3):
        print(numero1,numero2)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2