In [1]:
import pandas as pd
import numpy as np

np.arange(4)

array([0, 1, 2, 3])

In [2]:
serie = pd.Series(np.arange(4),index=['a','b','c','d'])
serie

a    0
b    1
c    2
d    3
dtype: int32

In [5]:
serie.drop('c')

a    0
b    1
d    3
dtype: int32

In [7]:
np.arange(9).reshape(3,3)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [8]:
lista_valores = np.arange(9).reshape(3,3)
lista_indices = ['a','b','c']
lista_columnas = ['c1','c2','c3']
dataframe = pd.DataFrame(lista_valores,index=lista_indices,columns=lista_columnas)
dataframe

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8

In [10]:
dataframe.drop('b')

   c1  c2  c3
a   0   1   2
c   6   7   8

In [11]:
dataframe.drop('c2',axis=1)

   c1  c3
a   0   2
b   3   5
c   6   8

In [12]:
dataframe

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8