In [1]:
import pandas as pd
import numpy as np

array = np.array([[1,8,3],[5,6,7]])
dataframe = pd.DataFrame(array,index=['a','b'],columns=list('123'))
dataframe

   1  2  3
a  1  8  3
b  5  6  7

In [2]:
dataframe.sum()

1     6
2    14
3    10
dtype: int64

In [3]:
dataframe.sum(axis=1)

a    12
b    18
dtype: int64

In [4]:
dataframe.min()

1    1
2    6
3    3
dtype: int32

In [5]:
dataframe.max()

1    5
2    8
3    7
dtype: int32

In [6]:
dataframe.describe()

              1         2         3
count  2.000000  2.000000  2.000000
mean   3.000000  7.000000  5.000000
std    2.828427  1.414214  2.828427
min    1.000000  6.000000  3.000000
25%    2.000000  6.500000  4.000000
50%    3.000000  7.000000  5.000000
75%    4.000000  7.500000  6.000000
max    5.000000  8.000000  7.000000