In [1]:
import pandas as pd
import numpy as np

serie1 = pd.Series([0,1,2],index=['a','b','c'])
serie1

a    0
b    1
c    2
dtype: int64

In [2]:
serie2 = pd.Series([3,4,5,6],index=['a','b','c','d'])
serie2

a    3
b    4
c    5
d    6
dtype: int64

In [3]:
serie1 + serie2

a    3.0
b    5.0
c    7.0
d    NaN
dtype: float64

In [4]:
lista_valores = np.arange(4).reshape(2,2)
lista_valores

array([[0, 1],
       [2, 3]])

In [5]:
lista_indices = list('ab')
lista_indices

['a', 'b']

In [7]:
lista_columnas = list('12')
lista_columnas

['1', '2']

In [8]:
dataframe = pd.DataFrame(lista_valores,index=lista_indices,columns=lista_columnas)
dataframe

   1  2
a  0  1
b  2  3

In [9]:
lista_valores2 = np.arange(9).reshape(3,3)
lista_indices2 = list('abc')
lista_columnas2 = list('123')

dataframe2 = pd.DataFrame(lista_valores2,index=lista_indices2,columns=lista_columnas2)
dataframe2

   1  2  3
a  0  1  2
b  3  4  5
c  6  7  8

In [12]:
dataframe3 = dataframe + dataframe2
dataframe3

     1    2   3
a  0.0  2.0 NaN
b  5.0  7.0 NaN
c  NaN  NaN NaN

In [13]:
dataframe3[dataframe3 >= 0]

     1    2   3
a  0.0  2.0 NaN
b  5.0  7.0 NaN
c  NaN  NaN NaN

In [14]:
dataframe.add(dataframe2,fill_value=0)

     1    2    3
a  0.0  2.0  2.0
b  5.0  7.0  5.0
c  6.0  7.0  8.0