In [1]:
import pandas as pd
import numpy as np

lista_valores = ['1','2',np.nan,'4']
serie = pd.Series(lista_valores,index=list('abcd'))
serie

a      1
b      2
c    NaN
d      4
dtype: object

In [2]:
serie.isnull()

a    False
b    False
c     True
d    False
dtype: bool

In [3]:
serie.dropna()

a    1
b    2
d    4
dtype: object

In [4]:
lista_valores = [[1,2,3],[4,np.nan,5],[6,7,np.nan]]
lista_valores

[[1, 2, 3], [4, nan, 5], [6, 7, nan]]

In [5]:
lista_indices = list('123')
lista_columnas = list('abc')
dataframe = pd.DataFrame(lista_valores,index=lista_indices,columns=lista_columnas)
dataframe

   a    b    c
1  1  2.0  3.0
2  4  NaN  5.0
3  6  7.0  NaN

In [6]:
dataframe.isnull()

       a      b      c
1  False  False  False
2  False   True  False
3  False  False   True

In [8]:
dataframe.fillna(0)

   a    b    c
1  1  2.0  3.0
2  4  0.0  5.0
3  6  7.0  0.0