In [2]:
import pandas as pd
import numpy as np

lista_valores = np.random.rand(6)
lista_indices = [[1,1,1,2,2,2],['a','b','c','a','b','c']]

series = pd.Series(lista_valores,lista_indices)
series

1  a    0.397834
   b    0.001720
   c    0.085864
2  a    0.096947
   b    0.040468
   c    0.543322
dtype: float64

In [3]:
series[1]

a    0.397834
b    0.001720
c    0.085864
dtype: float64

In [4]:
series[1]['b']

0.0017200214306699602

In [5]:
dataframe = series.unstack()
dataframe

          a         b         c
1  0.397834  0.001720  0.085864
2  0.096947  0.040468  0.543322

In [6]:
lista_valores = np.arange(16).reshape(4,4)
lista_indices = list('1234')
lista_columnas = list('ABCD')

dataframe2 = pd.DataFrame(lista_valores,index=lista_indices,columns=lista_columnas)
dataframe2

    A   B   C   D
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [8]:
serie2 = dataframe2.stack()
serie2

1  A     0
   B     1
   C     2
   D     3
2  A     4
   B     5
   C     6
   D     7
3  A     8
   B     9
   C    10
   D    11
4  A    12
   B    13
   C    14
   D    15
dtype: int32