In [1]:
import pandas as pd
import numpy as np

lista_valores = np.arange(25).reshape(5,5)
lista_valores

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [2]:
lista_indices = ['i1','i2','i3','i4','i5']
lista_columnas = ['c1','c2','c3','c4','c5']
dataframe = pd.DataFrame(lista_valores,index=lista_indices,columns=lista_columnas)
dataframe

    c1  c2  c3  c4  c5
i1   0   1   2   3   4
i2   5   6   7   8   9
i3  10  11  12  13  14
i4  15  16  17  18  19
i5  20  21  22  23  24

In [3]:
dataframe['c2']

i1     1
i2     6
i3    11
i4    16
i5    21
Name: c2, dtype: int32

In [4]:
dataframe['c2']['i2']

6

In [5]:
dataframe[['c3','c4']]

    c3  c4
i1   2   3
i2   7   8
i3  12  13
i4  17  18
i5  22  23

In [6]:
dataframe[['c2','c3','c4']]

    c2  c3  c4
i1   1   2   3
i2   6   7   8
i3  11  12  13
i4  16  17  18
i5  21  22  23

In [7]:
dataframe

    c1  c2  c3  c4  c5
i1   0   1   2   3   4
i2   5   6   7   8   9
i3  10  11  12  13  14
i4  15  16  17  18  19
i5  20  21  22  23  24

In [8]:
dataframe[dataframe['c2'] > 15]

    c1  c2  c3  c4  c5
i4  15  16  17  18  19
i5  20  21  22  23  24

In [9]:
dataframe > 20

       c1     c2     c3     c4     c5
i1  False  False  False  False  False
i2  False  False  False  False  False
i3  False  False  False  False  False
i4  False  False  False  False  False
i5  False   True   True   True   True

In [10]:
dataframe.loc['i3']

c1    10
c2    11
c3    12
c4    13
c5    14
Name: i3, dtype: int32

In [12]:
dataframe.loc['i3']['c4']

13